[2022-11-16 10:20] #132 closed

[2022-11-16 10:20] carlosperate commented on #133
Thanks for the report @loland9  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

[2022-11-16 10:20] #133 closed

[2022-11-16 10:20] carlosperate commented on #134
Thanks for the report @DenioStar  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:20] #134 closed

[2022-11-16 10:20] carlosperate commented on #135
Thanks for the report @daturastramonium  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into tha

[2022-11-16 10:20] #135 closed

[2022-11-16 10:20] carlosperate commented on #136
Thanks for the report @PraveenKhot  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that iss

[2022-11-16 10:20] #136 closed

[2022-11-16 10:21] carlosperate commented on #138
Thanks for the report @Botlol1  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

[2022-11-16 10:21] #138 closed

[2022-11-16 10:21] carlosperate commented on #139
Thanks for the report @sorjon02  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:21] #139 closed

[2022-11-16 10:21] carlosperate commented on #141
Thanks for the report @lsaadatn  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:21] #141 closed

[2022-11-16 10:21] carlosperate commented on #142
Thanks for the report @gordon0001  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issu

[2022-11-16 10:21] #142 closed

[2022-11-16 10:22] carlosperate commented on #143
Thanks for the report @NewNick98  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:22] #143 closed

[2022-11-16 10:22] carlosperate commented on #145
Thanks for the report @phangkie  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:22] #145 closed

[2022-11-16 10:23] carlosperate commented on #3
Thanks for the report @kumkumbello  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that iss

[2022-11-16 10:23] #3 closed

[2022-11-16 10:23] carlosperate commented on #4
Thanks for the report @drdec99  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

[2022-11-16 10:23] #4 closed

[2022-11-16 10:23] carlosperate commented on #104
Thanks for the report @OmarBenBrik  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that iss

[2022-11-16 10:23] #104 closed

[2022-11-16 10:23] carlosperate commented on #106
Thanks for the report @antoninguyen84  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that

[2022-11-16 10:23] #106 closed

[2022-11-16 10:23] carlosperate commented on #108
Thanks for the report @codewrencher  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that is

[2022-11-16 10:23] #108 closed

[2022-11-16 10:23] carlosperate commented on #109
Thanks for the report @ab1025668  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:23] #109 closed

[2022-11-16 10:23] carlosperate commented on #162
Thanks for the report @Trilmind  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:23] #162 closed

[2022-11-16 10:24] carlosperate commented on #161
Thanks for the report @Elpaul2209  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issu

[2022-11-16 10:24] #161 closed

[2022-11-16 10:24] carlosperate commented on #160
Thanks for the report @CLDVPA  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

[2022-11-16 10:24] #160 closed

[2022-11-16 10:24] carlosperate commented on #159
Thanks for the report @neonick333  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issu

[2022-11-16 10:24] #159 closed

[2022-11-16 10:24] carlosperate commented on #158
Thanks for the report @Lord-Jedusor  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that is

[2022-11-16 10:24] #158 closed

[2022-11-16 10:24] carlosperate commented on #157
Thanks for the report @akuisuka  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:24] #157 closed

[2022-11-16 10:24] carlosperate commented on #156
Thanks for the report @djratliff  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:24] #156 closed

[2022-11-16 10:24] carlosperate commented on #155
Thanks for the report @ghoulali  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:25] carlosperate commented on #111
Thanks for the report @soundscapecity  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that

[2022-11-16 10:25] carlosperate commented on #154
Thanks for the report @qeewfrgetrgrewfwe  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into th

[2022-11-16 10:25] #154 closed

[2022-11-16 10:25] carlosperate commented on #153
Thanks for the report @johnbeamish  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that iss

[2022-11-16 10:25] #153 closed

[2022-11-16 10:25] carlosperate commented on #152
Thanks for the report @ameniyedi  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:25] #152 closed

[2022-11-16 10:25] carlosperate commented on #151
Thanks for the report @ameniyedi  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:25] #151 closed

[2022-11-16 10:26] carlosperate commented on #150
Thanks for the report @koussay12345678  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that

[2022-11-16 10:26] #150 closed

[2022-11-16 10:26] carlosperate commented on #149
Thanks for the report @Walliscoming  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that is

[2022-11-16 10:26] #149 closed

[2022-11-16 10:26] carlosperate commented on #147
Thanks for the report @deanaplus  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:26] #147 closed

[2022-11-16 10:26] carlosperate commented on #146
Thanks for the report @Mask3dM4n  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:26] #146 closed

[2022-11-16 10:27] carlosperate commented on #112
Thanks for the report @ShadowFokx  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issu

[2022-11-16 10:27] #112 closed

[2022-11-16 10:27] carlosperate commented on #163
Thanks for the report @Lord-Jedusor  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that is

[2022-11-16 10:27] carlosperate commented on #171
Thanks for the report @jsebastiandleon  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that

[2022-11-16 10:27] #171 closed

[2022-11-16 10:27] carlosperate commented on #199
Thanks for the report @XIV26  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

[2022-11-16 10:27] #199 closed, assigned to nobody

[2022-11-16 10:27] carlosperate commented on #230
Thanks for the report @kajdfowqjo  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issu

[2022-11-16 10:27] #230 closed, assigned to nobody

[2022-11-16 10:28] carlosperate commented on #244
Thanks for the report @choiiiiiiiii  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that is

[2022-11-16 10:28] #244 closed, assigned to nobody

[2022-11-16 10:28] carlosperate commented on #257
Thanks for the report @Narctexed  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:28] #257 closed, assigned to nobody

[2022-11-16 10:28] carlosperate commented on #261
Thanks for the report @benalpha23  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issu

[2022-11-16 10:28] #261 closed, assigned to nobody

[2022-11-16 10:28] carlosperate commented on #271
Thanks for the report @ImfaKazi  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:28] #271 closed, assigned to nobody

[2022-11-16 10:28] carlosperate commented on #273
Thanks for the report @brightk04  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:28] #273 closed, assigned to nobody

[2022-11-16 10:29] carlosperate commented on #280
Thanks for the report @Zdzblo  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

[2022-11-16 10:29] #280 closed, assigned to nobody

[2022-11-16 10:29] carlosperate commented on #283
Thanks for the report @pallabpaudel  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that is

[2022-11-16 10:29] #283 closed, assigned to nobody

[2022-11-16 10:29] carlosperate commented on #285
Thanks for the report @aravtiwari  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issu

[2022-11-16 10:29] #285 closed, assigned to nobody

[2022-11-16 10:29] carlosperate commented on #287
Thanks for the report @shadeX79  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:29] #287 closed, assigned to nobody

[2022-11-16 10:29] carlosperate commented on #288
Thanks for the report @Zdzblo  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

[2022-11-16 10:29] #288 closed, assigned to nobody

[2022-11-16 10:29] carlosperate commented on #292
Thanks for the report @EDED2314  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:29] #292 closed, assigned to nobody

[2022-11-16 10:29] carlosperate commented on #293
Thanks for the report @AMONGUSAMOGUS  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that i

[2022-11-16 10:29] #293 closed, assigned to nobody

[2022-11-16 10:30] carlosperate commented on #298
Thanks for the report @tobassum786  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that iss

[2022-11-16 10:30] #298 closed, assigned to nobody

[2022-11-16 10:30] carlosperate commented on #301
Thanks for the report @JimFelich  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:30] #301 closed, assigned to nobody

[2022-11-16 10:30] carlosperate commented on #302
Thanks for the report @theclas23  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:30] #302 closed, assigned to nobody

[2022-11-16 10:30] carlosperate commented on #307
Thanks for the report @rodgonzv85  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issu

[2022-11-16 10:30] #307 closed, assigned to nobody

[2022-11-16 10:30] carlosperate commented on #317
Thanks for the report @Harry-Pun  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:30] #317 closed, assigned to nobody

[2022-11-16 10:30] carlosperate commented on #318
Thanks for the report @FameAmy  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

[2022-11-16 10:30] #318 closed, assigned to nobody

[2022-11-16 10:30] carlosperate commented on #333
Thanks for the report @FemiOje  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

[2022-11-16 10:30] #333 closed, assigned to nobody

[2022-11-16 10:31] carlosperate commented on #334
Thanks for the report @Kanguro17  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue

[2022-11-16 10:31] #334 closed, assigned to nobody

[2022-11-16 10:32] carlosperate commented on #61
Thanks for the report @jazmincontreras  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks

[2022-11-16 10:32] #61 closed

[2022-11-16 10:33] carlosperate commented on #62
Thanks for the report @eunicechungg  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks ag

[2022-11-16 10:33] #62 closed

[2022-11-16 10:33] carlosperate commented on #64
Thanks for the report @Supernandita24  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks

[2022-11-16 10:33] carlosperate commented on #65
Thanks for the report @SergeyVolkoff  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks a

[2022-11-16 10:33] #65 closed

[2022-11-16 10:33] carlosperate commented on #66
Thanks for the report @andylepp  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:33] #66 closed

[2022-11-16 10:33] carlosperate commented on #67
Thanks for the report @SergeyVolkoff  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks a

[2022-11-16 10:33] carlosperate commented on #68
Thanks for the report @SAODsebasakira  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks

[2022-11-16 10:33] #68 closed

[2022-11-16 10:33] carlosperate commented on #69
Thanks for the report @anastasia-eliseeva  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Tha

[2022-11-16 10:34] carlosperate commented on #71
Thanks for the report @pcgourvi  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:34] #71 closed

[2022-11-16 10:34] carlosperate commented on #72
Thanks for the report @Brania98  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:34] carlosperate commented on #73
Thanks for the report @fmalina  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:34] #73 closed

[2022-11-16 10:34] carlosperate commented on #74
Thanks for the report @JGPutnam  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:34] #74 closed

[2022-11-16 10:34] carlosperate commented on #75
Thanks for the report @skyllrjm  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:34] carlosperate commented on #76
Thanks for the report @JadeFreya  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again

[2022-11-16 10:34] #76 closed

[2022-11-16 10:34] carlosperate commented on #60
Thanks for the report @luiz-spindola  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks a

[2022-11-16 10:34] #60 closed

[2022-11-16 10:34] carlosperate commented on #7
Thanks for the report @JayLennartzKelly  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thank

[2022-11-16 10:34] #7 closed

[2022-11-16 10:35] carlosperate commented on #8
Thanks for the report @MelindaAG  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again

[2022-11-16 10:35] carlosperate commented on #173
Thanks for the report @f10nkni  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:35] carlosperate commented on #188
Thanks for the report @owunderlin  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks agai

[2022-11-16 10:35] #188 closed, assigned to nobody

[2022-11-16 10:35] carlosperate commented on #192
Thanks for the report @captbd  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:35] #192 closed, assigned to nobody

[2022-11-16 10:35] carlosperate commented on #196
Thanks for the report @Alfaruq07  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again

[2022-11-16 10:35] #196 closed, assigned to nobody

[2022-11-16 10:35] carlosperate commented on #221
Thanks for the report @Gallipato  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again

[2022-11-16 10:35] #221 closed, assigned to nobody

[2022-11-16 10:35] carlosperate commented on #226
Thanks for the report @davidabarter  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks ag

[2022-11-16 10:35] #226 closed, assigned to nobody

[2022-11-16 10:36] carlosperate commented on #248
Thanks for the report @Miriambj  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:36] #248 closed, assigned to nobody

[2022-11-16 10:36] carlosperate commented on #259
Thanks for the report @ajitbakre  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again

[2022-11-16 10:36] #259 closed, assigned to nobody

[2022-11-16 10:36] carlosperate commented on #262
Thanks for the report @Ledoge43  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:36] #262 closed, assigned to nobody

[2022-11-16 10:36] carlosperate commented on #277
Thanks for the report @ellajudson  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks agai

[2022-11-16 10:36] #277 closed, assigned to nobody

[2022-11-16 10:36] carlosperate commented on #286
Thanks for the report @frodob7  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:36] #286 closed, assigned to nobody

[2022-11-16 10:36] carlosperate commented on #314
Thanks for the report @YaronGoren  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks agai

[2022-11-16 10:36] #314 closed, assigned to nobody

[2022-11-16 10:36] carlosperate commented on #320
Thanks for the report @amineskak  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again

[2022-11-16 10:36] #320 closed, assigned to nobody

[2022-11-16 10:36] carlosperate commented on #323
Thanks for the report @untethered1  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks aga

[2022-11-16 10:36] #323 closed, assigned to nobody

[2022-11-16 10:37] carlosperate commented on #329
Thanks for the report @lindsayyura  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks aga

[2022-11-16 10:37] #329 closed, assigned to nobody

[2022-11-16 10:37] carlosperate commented on #330
Thanks for the report @alicenym  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:37] #330 closed, assigned to nobody

[2022-11-16 10:37] carlosperate commented on #331
Thanks for the report @finklywinkly  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks ag

[2022-11-16 10:37] #331 closed, assigned to nobody

[2022-11-16 10:37] carlosperate commented on #338
Thanks for the report @G0916  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:37] #338 closed, assigned to nobody

[2022-11-16 10:37] carlosperate commented on #339
Thanks for the report @G0916  !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for macOS from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be happy to look into that issue 👍

Thanks again!

[2022-11-16 10:37] #339 closed, assigned to nobody

[2022-11-16 10:40] carlosperate commented on #357
Thanks for the report @sreekalapola!
Would you be able to attach the Mu log to this GitHub Issue as well? It'll be really useful to us for debugging. File should be located in: `C:\Users\HP\AppData\Local\Programs\MUEDIT~1\AppData\Local\python\mu\Logs\mu.log`

[2022-11-16 10:41] carlosperate commented on #350
This has been resolved in v1.2.0 🎉

[2022-11-16 10:41] #350 closed, assigned to nobody

[2022-11-16 10:55] carlosperate commented on #342
Thanks for the report @drgouda !

The new Mu Editor v1.2.0 released yesterday fixes this issue, if you download the latest installer for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be able to look into that issue

[2022-11-16 10:55] #342 closed, assigned to nobody

[2022-11-16 10:55] carlosperate commented on #324
Thanks for the report @Phachradanai!

The new Mu Editor v1.2.0 released yesterday fixes this issue, if you download the latest installer for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be able to look into that i

[2022-11-16 10:55] #324 closed, assigned to nobody

[2022-11-16 10:57] carlosperate commented on #308
Thanks for the report @oorischubert!

The new Mu Editor v1.2.0 released now includes this fix and can be downloaded from: https://codewith.mu/en/download

I'll close this crash report as fixed, if you'd like to report the other issue in the main Mu repository we can look at it over there 👍

Thanks again!

[2022-11-16 10:57] #308 closed, assigned to nobody

[2022-11-16 10:57] carlosperate commented on #276
Thanks for the report @dotty37 !

The new Mu Editor v1.2.0 released yesterday fixes this issue, if you download the latest installer for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be able to look into that issue

[2022-11-16 10:57] #276 closed, assigned to nobody

[2022-11-16 10:57] carlosperate commented on #275
Thanks for the report @JanJansen47 !

The new Mu Editor v1.2.0 released yesterday fixes this issue, if you download the latest installer for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be able to look into that i

[2022-11-16 10:57] #275 closed, assigned to nobody

[2022-11-16 10:57] carlosperate commented on #195
Thanks for the report @jomixl !

The new Mu Editor v1.2.0 released yesterday fixes this issue, if you download the latest installer for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be able to look into that issue

[2022-11-16 10:57] #195 closed, assigned to nobody

[2022-11-16 10:57] carlosperate commented on #174
Thanks for the report @skouzil !

The new Mu Editor v1.2.0 released yesterday fixes this issue, if you download the latest installer for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be able to look into that issue

[2022-11-16 10:57] #174 closed

[2022-11-16 10:57] carlosperate commented on #175
Thanks for the report @achamoux !

The new Mu Editor v1.2.0 released yesterday fixes this issue, if you download the latest installer for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be able to look into that issu

[2022-11-16 10:57] #175 closed

[2022-11-16 10:57] carlosperate commented on #176
Thanks for the report @MakerMexa !

The new Mu Editor v1.2.0 released yesterday fixes this issue, if you download the latest installer for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be able to look into that iss

[2022-11-16 10:57] #176 closed

[2022-11-16 10:58] carlosperate commented on #177
Thanks for the report @MagnoliaYoung !

The new Mu Editor v1.2.0 released yesterday fixes this issue, if you download the latest installer for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be able to look into that

[2022-11-16 10:58] #177 closed

[2022-11-16 10:58] carlosperate commented on #178
Thanks for the report @ParkerLouis42 !

The new Mu Editor v1.2.0 released yesterday fixes this issue, if you download the latest installer for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be able to look into that

[2022-11-16 10:58] #178 closed

[2022-11-16 10:58] carlosperate commented on #185
Thanks for the report @AlanLL and all your help debugging this issue!

The new Mu Editor v1.2.0 released yesterday fixes this issue, if you download the latest installer for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and

[2022-11-16 10:59] carlosperate commented on #180
Thanks for the report @diliboy88 !

The new Mu Editor v1.2.0 released yesterday fixes this issue, if you download the latest installer for your operating system from the Mu website it should now work: https://codewith.mu/en/download

I'll close this crash report as fixed, but if you encounter this or any other crash with v1.2.0 please open a new crash report and we'll be able to look into that iss

[2022-11-16 10:59] #180 closed

[2022-11-16 12:28] JanJansen47 commented on #275
Gracias Carlos

Jan Jansen
+31 0688806529
Sagittalaan 22
5632AL Eindhoven

From: Carlos Pereira Atencio ***@***.***>
Sent: Wednesday, November 16, 2022 11:58 AM
To: mu-editor/crash-reports ***@***.***>
Cc: Jan_Jansen_47 ***@***.***>; Mention ***@***.***>
Subject: Re: [mu-editor/crash-reports] Crash Report (Issue #275)

Thanks for the report @JanJansen47<https://github.com/JanJansen47> !

The new M

[2022-11-17 03:33] NewNick98 commented on #143
Holy shit, thanks! I don't know if this post inspired the fix, but I really appreciate the work you do

Cheers,

Nick

---- On Wed, 16 Nov 2022 05:22:17 -0500 Carlos Pereira Atencio ***@***.***> wrote ---

Thanks for the report https://github.com/NewNick98 !

The new Mu Editor v1.2.0 release yesterday fixes this issue, if you install the latest version for your operating system from the Mu website

[2022-11-17 04:38] jasdin5646 opened #358 "Crash Report"
**REMEMBER TO ATTACH YOUR LOG FILE**

Version: 1.2.0
Locale: es_MX
Platform: Windows 10 10.0.22000 AMD64

[code]

[2022-11-17 13:07] frodob7 commented on #286
Still doesnt work for me.

ons. 16. nov. 2022 kl. 11:36 skrev Carlos Pereira Atencio <
***@***.***>:

[2022-11-17 18:23] carlosperate commented on #286
Thanks for testing it @frodob7, would you be able to raise a new crash report with v1.2.0? Thanks!

[2022-11-18 14:08] carlosperate commented on #143
All crash reports raised are useful! Even if a similar one was already reported, or if we've already identified the issue, as it gives us an approximation of how common it might be, so that we can prioritise correctly. So thanks for taking the time for raising it, it was definitely valuable!

[2022-11-18 14:11] carlosperate opened #359 "Please submit your crash report! Even if similar ones exist"
It helps us get an idea of how common some crashes might be, and that will help us prioritise the issues that are more common.

So don't feel like it's not useful if there similar crash reports already here, as knowing that more users have the same problem is really useful for us as well.

Thanks!

[2022-11-18 23:39] seasonedgeek opened #360 "Error upon Mu Editor startup after macOS installation"
At step 5, I started the Mu Editor, per instruction found on the [How to install Mu on macOS with the Official Installer](https://codewith.mu/en/howto/1.2/install_macos) page. I'm running macOS Catalina 10.15.7 (19H2026)).

The initial Mu Editor startup resulted in the display of this `traceback` message:

[code]

Please see my [mu.log](https://github.com/mu-editor/crash-reports/files/10045388/mu.

[2022-11-18 23:59] seasonedgeek commented on #360
Also, the contents of the `~/Library/Application\ Support/virtualenv/py_info/1/mu.json` file may be helpful for debugging...

[code]

[2022-11-21 15:46] mauriciobenjamin opened #361 "Crash Report"
**REMEMBER TO ATTACH YOUR LOG FILE**

Version: 1.2.0
Locale: es_MX
Platform: Linux 6.0.8-300.fc37.x86_64 #1 SMP PREEMPT_DYNAMIC Fri Nov 11 15:09:04 UTC 2022 x86_64

[code]
[mu.log](https://github.com/mu-editor/crash-reports/files/10057931/mu.log)

[2022-11-21 15:47] mauriciobenjamin commented on #361
Using AppImage on Fedora Workstation 37 without any AppImage manager.

[2022-11-22 20:59] zachkoto opened #362 "Crash Report - Can no start Mu Editor and recieve this error after various attempts and different version installs"
**REMEMBER TO ATTACH YOUR LOG FILE**

Version: 1.2.0
Locale: en_US
Platform: Windows 10 10.0.22621 AMD64

[code]
[mu.log](https://github.com/mu-editor/crash-reports/files/10071016/mu.log)

[2022-11-22 21:01] zachkoto commented on #362
After attempting to install different versions on different versions of python 3 on windows 11, I haven't been able to figure out why the program always  fails to start up after installation

[2022-11-23 12:24] RubenMB335 opened #363 "Crash Report"
[mu.log](https://github.com/mu-editor/crash-reports/files/10075399/mu.log)
**REMEMBER TO ATTACH YOUR LOG FILE**

Version: 1.2.0
Locale: es_ES
Platform: Linux 5.15.0-46-generic #49~20.04.1-Ubuntu SMP Thu Aug 4 19:15:44 UTC 2022 x86_64

[code]

[2022-11-23 22:23] richlysakowski opened #364 "Crash Report"
This acts like it is a non-local installation.  Why is it compiling anything?

I could not tell it to install itself in c:\ProgramData\mu-editor" instead of AppData.
This is bad installer behavior.  It MUST give the user a choice of where to install it.

WHERE IS THE INSTALLATION LOG FILE BEING ASKED FOR????????

**REMEMBER TO ATTACH YOUR LOG FILE**

Version: 1.2.0
Locale: en_US
Platform: Windows

[2022-11-24 01:28] imatison opened #365 "Crash Report"
**REMEMBER TO ATTACH YOUR LOG FILE**

Version: 1.2.0
Locale: en_US
Platform: Windows 10 10.0.19045 AMD64

[code]

[2022-11-24 01:31] imatison opened #366 "Crash Report"
**REMEMBER TO ATTACH YOUR LOG FILE**

Version: 1.2.0
Locale: en_US
Platform: Windows 10 10.0.19045 AMD64

[code]

[2022-11-30 06:03] Arkarnyeinoo opened #367 "Crash Report"
**REMEMBER TO ATTACH YOUR LOG FILE**

Version: 1.2.0
Locale: en_US
Platform: Windows 10 10.0.22000 AMD64

[code]